.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 401;
}
.delete-markers {
  padding: 1rem 2rem;
  background: white;
  margin-top: 80px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  z-index: 402;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
}

button {
  font-size: 1rem;
  border-radius: 5px;
  padding: 4px 12px;
}
.buttons-box {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}
