<!--<div class="backdrop"></div>-->

<div class="modal">
  <div class="product">
    <!--  <img [src]="img" [alt]="product.product_name">-->
    <div class="product_desc">
      <!--    <h3>{{product.product_name}}</h3>-->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, quasi...</p>


      <div class="product_bottom">
        <!--      <p><strong>Price: {{product.price}}$</strong></p>-->
        <div><button class="buy-btn" >Подробнее</button></div>
      </div>

    </div>
  </div>
</div>

