input::-webkit-input-placeholder { color: #fafafa; }
input::-moz-placeholder { color: #fafafa; }

.btn-search {
  background-color: transparent;
  border: none;
  color: #fafafa;
  font-size: 1.2em;

}
.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fafafa;
  height: 43px;
}
.search-field:focus{
  outline: none;
}
.search-field{
  width: 130px;
  color: #fafafa;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
}
.btn-search{
  transition: all ease-in-out .4s;

}
.btn-search:hover{
  color: darkorange;
}
