.markers-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  width: 290px;
}
.marker {
  cursor: pointer;
  transition: color ease-in-out .4s;
  outline:none;
}
.marker:hover {
  color: #009bff;

}
.marker_active {
  border-bottom: 2px solid #009bff;
  color: #009bff;
  font-weight: bold;
}
.btn {
  cursor: pointer;
  height: 15px;
  border-radius: 50%;
  transition: all ease-in-out .4s;
}
.btn:hover {
  transform: scale(1.2);
}
button {
  margin-top: 20px;
}
img {

  height: 15px;
}
