.markers-panel {
  width: 320px;
}
.filter {
  height: 10vh;
}
.filter-box {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}
.radio,
.radio-label {
  cursor: pointer;
}
.filter-input {
  width: 173px;
  margin-left: 24px;
}
.inputs {
  display: flex;
  align-items: center;
}
input {
  height: 16px;
  margin: 0;
}
.marker-box {
  overflow: auto;
  height: 30vh;
  padding: 0 12px;
}
.marker {
  cursor: pointer;
  transition: color ease-in-out 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marker:hover {
  color: #009bff;
}
.marker_active {
  color: #009bff;
  font-weight: bold;
}
.marker-text {
  max-width: 250px;
  padding: 4px 0;
  outline: none;
}
.btn {
  cursor: pointer;
  height: 15px;
  border-radius: 50%;
  transition: all ease-in-out 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}

button {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  border-color: #009bff;
  outline: none;
  padding: 4px 8px;
}
img {
  height: 15px;
}

