.header{
  background-color: #2f2a2d;
  color: #fafafa;
}
.logo{
  text-transform: uppercase;
  font-weight: bold;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
}
.links{
  padding: 0 10px;
}
.cart{
  position: relative;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active {
  border-bottom: 2px solid #fafafa;
}
a{
  color: #ffffff;
}
a:hover{
  color: darkorange;
  transform: scale(1.05);
}
/*button:focus{*/
/*  outline: none;*/
/*}*/

.btn-cart{
  background-color: #fafafa;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #2f2a2d;
  border-radius: 5px;
  transition: all ease-in-out .4s;
  cursor: pointer;
}
.btn-cart:hover{
  background-color: transparent;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-cart, .logo{
  align-self: center;
}
.container{
  margin: 0 auto;
  max-width: 1600px;
}

