<header class="header">
  <div class="container nav">
    <div class="logo">E-shop</div>
    <div class="links"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#" [routerLink]="'/'">Главная</a></div>
    <div class="links" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="#"  [routerLink]="'/catalog'">Каталог</a></div>
    <div class="cart">
      <app-search></app-search>
      <app-cart></app-cart>
    </div>
  </div>
</header>
<main  class="container">

  <router-outlet></router-outlet>
</main>


