<app-modal *ngIf="showModal"></app-modal>
<div class="products">
  <div class="product-item" *ngFor="let product of this.catalog.filtered">
    <img [src]="img" [alt]="product.product_name">
    <div class="desc">
      <a [routerLink]="['/catalog', product.id_product]">{{product.product_name}}</a>

      <p>{{product.price}}</p>
      <button class="buy-btn" (click)="this.cartService.addToCart(product)">Купить</button>
    </div>
  </div>
</div>
<div class="pagination">
  <button class="buy-btn">Показать еще</button>
</div>
