.welcome{
  font-size: 2rem;
  text-align: center;
}
.primary{
  display: flex;
  justify-content: space-around;
  border: 1px solid #2f2a2d;
  width: 800px;
  height: 400px;
  margin: 80px auto;
  align-items: center;
  border-radius: 10px;
}
.primary_block{

  background-color: #2f2a2d;
  width: 200px;
  height: 120px;
  border-radius: 10px;
  color: #fafafa;
  text-align: center;
  line-height: 120px;
  font-size: 2rem;
}
