.product {
  display: flex;
  justify-content: space-around;
  margin: 60px 20px;

  border-radius: 10px;
}

.product_desc {
  width: 30%;
  font-size: 1.2em;
  line-height: 1.5em;
}
p {
  line-height: 1.2em;
}
img {
  border-radius: 10px;
}
li {
  list-style-type: none;
}

.product_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


